<div class="container">
    <button (click)="getData()" class="btn btn-primary">show data</button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">body</th>
                <th scope="col">postId</th>
                <th scope="col">likes</th>
                <th scope="col">username</th>
                <th scope="col">fullName</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let item of comment?.comments">
                <th scope="row">{{item.id}}</th>
                <td>{{item.body}}</td>
                <td>{{item.postId}}</td>
                <td>{{item.likes}}</td>
                <td>{{item.user.username}}</td>
                <td>{{item.user.fullName}}</td>
            </tr>


        </tbody>
    </table>

</div>